---
import Page from "../layouts/page.astro";
import Card from "../components/Card.astro";

---

<Page title="FAQ |" desc="Frequently asked questions.">
    <section>
        <div class="container px-6 py-20 mx-auto font-geist">
			<div
				class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-screen-lg mt-12 mx-auto"
			>
				<Card
					title="Apakah saya bisa request desain khusus sesuai brand saya?"
					body="Tentu! Kami menawarkan desain custom yang disesuaikan dengan identitas dan kebutuhan brand Anda. Tim desain kami akan berkolaborasi dengan Anda untuk memastikan hasil akhir sesuai ekspektasi."
					titlec="text-gray-600 group-hover:text-white group-hover:[&>p]:text-white [&>p]:text-gray-500 [&>h2]:text-xl transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					primary="group py-6 bg-white flex-col rounded-xl shadow-xl hover:bg-blue-900 transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					size="size-12 bg-blue-900 group-hover:bg-white group-hover:text-orange-400 group-hover:rotate-90 p-2 rounded-full text-white transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					icon="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
				<Card
					title="Apakah website akan mobile-friendly dan responsif?"
					body="Ya! Semua website yang kami buat dirancang agar responsif dan tampil optimal di berbagai perangkat (desktop, tablet, dan smartphone)."
					titlec="text-gray-600 group-hover:text-white group-hover:[&>p]:text-white [&>p]:text-gray-500 [&>h2]:text-xl transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					primary="group py-6 bg-white flex-col rounded-xl shadow-xl hover:bg-blue-900 transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					size="size-12 bg-blue-900 group-hover:bg-white group-hover:text-orange-400 group-hover:rotate-90 p-2 rounded-full text-white transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					icon="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
				<Card
					title="Berapa lama waktu yang dibutuhkan untuk membuat website?"
					body="Durasi pembuatan website bergantung pada jenis dan kompleksitas website."
					titlec="text-gray-600 group-hover:text-white group-hover:[&>p]:text-white [&>p]:text-gray-500 [&>h2]:text-xl transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					primary="group py-6 bg-white flex-col rounded-xl shadow-xl hover:bg-blue-900 transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					size="size-12 bg-blue-900 group-hover:bg-white group-hover:text-orange-400 group-hover:rotate-90 p-2 rounded-full text-white transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					icon="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
				<Card
					title="Apakah website saya bisa muncul di Google?"
					body="Ya, semua website yang kami buat sudah dioptimasi dengan SEO dasar agar mudah terindeks oleh Google. Kami juga menyediakan layanan SEO lanjutan untuk meningkatkan peringkat website Anda di mesin pencari."
					titlec="text-gray-600 group-hover:text-white group-hover:[&>p]:text-white [&>p]:text-gray-500 [&>h2]:text-xl transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					primary="group py-6 bg-white flex-col rounded-xl shadow-xl hover:bg-blue-900 transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					size="size-12 bg-blue-900 group-hover:bg-white group-hover:text-orange-400 group-hover:rotate-90 p-2 rounded-full text-white transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					icon="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
				<Card
					title="Apakah ada garansi setelah website selesai dibuat?"
					body="Kami memberikan garansi perbaikan bug dan error selama 1 bulan setelah website selesai. Anda juga bisa memilih layanan maintenance untuk perawatan website secara berkala."
					titlec="text-gray-600 group-hover:text-white group-hover:[&>p]:text-white [&>p]:text-gray-500 [&>h2]:text-xl transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					primary="group py-6 bg-white flex-col rounded-xl shadow-xl hover:bg-blue-900 transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					size="size-12 bg-blue-900 group-hover:bg-white group-hover:text-orange-400 group-hover:rotate-90 p-2 rounded-full text-white transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					icon="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
				<Card
					title="Apakah saya bisa mengelola website sendiri setelah jadi?"
					body="Ya! Kami menggunakan platform user-friendly, dan Anda akan mendapatkan panduan untuk mengelola website. Jika membutuhkan pelatihan, kami juga siap membantu."
					titlec="text-gray-600 group-hover:text-white group-hover:[&>p]:text-white [&>p]:text-gray-500 [&>h2]:text-xl transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					primary="group py-6 bg-white flex-col rounded-xl shadow-xl hover:bg-blue-900 transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					size="size-12 bg-blue-900 group-hover:bg-white group-hover:text-orange-400 group-hover:rotate-90 p-2 rounded-full text-white transition-color ease-linear duration-700 transition-color ease-linear duration-700"
					icon="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
				/>
			</div>
        </div>
    </section>

</Page>