---
import Button from "./button.astro"
import Logo from "./logo.astro"
---

<header id="navbar" class="bg-blue-800 text-white fixed top-0 shadow-lg w-full z-20">
    <div class="container mx-auto px-6 py-3 flex justify-between items-center">
      
      <a href="/">
        <Logo/>
      </a>
      <nav class="hidden md:flex space-x-8 *:font-bold *:menu-item hover:*:text-orange-400 *:transition *:duration-500">
        <a href="/">Home</a>
        <a href="/porto">Portofolio</a>
        <a href="/about">Tentang Kami</a>
        <a href="/faq">FAQ</a>
      </nav>
      <Button title="Order Sekarang" href="https://wa.me/6281532094978?text=Halo kak! Saya mau buat website _[isi jenis webiste]_" path="" primary="hidden md:block bg-orange-400 text-white rounded-lg" />
      <button id="hamburger" class="md:hidden focus:outline-none">
        <svg id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
        <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 hidden">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  
    <nav id="mobile-menu" class="relative z-50 h-full md:hidden hidden h-screen pt-12 px-6 bg-blue-900 space-y-3 *:py-3 *:text-base *:font-medium *:border-gray-400 *:border-b hover:*:bg-blue-800 *:transition *:duration-300">
      <a href="/" class="menu-item block">Home</a>
      <a href="/about" class="menu-item block">Tentang Kami</a>
      <a href="/porto" class="menu-item block">Portofolio</a>
      <a href="/faq" class="menu-item block">FAQ</a>
      <Button title="Order Sekarang" href="https://wa.me/6281532094978?text=Halo kak! Saya mau buat website _[isi jenis webiste]_" path="" primary="w-max mx-auto pt-20 bg-orange-400 text-white rounded-lg" />
    </nav>
  </header> -->
  
  <script>
    const hamburger = document.getElementById('hamburger');
    const mobileMenu = document.getElementById('mobile-menu');
    const hamburgerIcon = document.getElementById('hamburger-icon');
    const closeIcon = document.getElementById('close-icon');
    const menuItems = document.querySelectorAll('.menu-item');
  
    let isOpen = false;
  
    hamburger.addEventListener('click', () => {
      isOpen = !isOpen;
      mobileMenu.classList.toggle('hidden');
      hamburgerIcon.classList.toggle('hidden');
      closeIcon.classList.toggle('hidden');
    });
  
    window.addEventListener('DOMContentLoaded', () => {
      const currentPath = window.location.pathname;
      menuItems.forEach((item) => {
        if (item.getAttribute('href') === currentPath) {
          item.classList.add('active');
        }
      });
    });

    const navbar: HTMLElement | null = document.getElementById('navbar');

  </script>
  

  <!-- <nav class="border-gray-200 dark:bg-neutral-900 mb-4 shadow-lg">
    <div class="container flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/">
        <Logo/>
      </a>
    <button id="toggle-menu" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
            <a href="/" class="block py-2 px-3 text-white bg-orange-500 rounded md:bg-transparent md:text-orange-500 md:p-0" aria-current="page">Home</a>
        </li>
        <li>
            <a href="/about" class="block py-2 px-3 dark:text-neutral-100 rounded hover:bg-orange-500 md:hover:bg-transparent md:border-0 md:hover:text-orange-500 md:p-0 md:dark:hover:bg-transparent">About</a>
        </li>
        <li>
            <a href="/porto" class="block py-2 px-3 dark:text-neutral-100 rounded hover:bg-orange-500 md:hover:bg-transparent md:border-0 md:hover:text-orange-500 md:p-0 md:dark:hover:bg-transparent">
              Portofolio</a>
        </li>
        <li>
            <a href="/faq" class="block py-2 px-3 dark:text-neutral-100 rounded hover:bg-orange-500 md:hover:bg-transparent md:border-0 md:hover:text-orange-500 md:p-0 md:dark:hover:bg-transparent">
              FAQ</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<script>
    const tombol = document.getElementById("toggle-menu");

    tombol?.addEventListener('click', ()=>{
        console.log('oke');
        document.getElementById("navbar")?.classList.toggle('hidden');
    });
</script> -->