---
import Home from "./home.astro";
import { getImage, Image } from "astro:assets"
import cover from "../assets/img1.webp"
const optimizedBackground = await getImage({ src: cover, format: "webp" });
interface props {
    title: string;
}
const { title, desc } = Astro.props
---

<Home title={title}>
    <section>
        <div class="relative mx-auto">
            <div class="relative bg-blue-900 bg-center bg-cover w-full h-full before:content-[''] before:absolute before:w-full before:h-full before:mix-blend-multiply before:bg-blue-950" style={`background-image: url('${cover.src}')`}>
                <div class="relative z-10 h-[70vh] w-full max-w-screen-md mx-auto text-white flex flex-col items-center justify-center">
                    <h1 class="font-ledger capitalize text-center text-3xl my-5 md:text-5xl">
                        { desc } 
                      </h1>
                </div>
            </div>
        </div>
    </section>
    <slot>
</Home>